.container {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

.ui.dropdown .menu>.item>.icon {
    margin-right: 0;
}

.ui.action.input.error input {
    background-color: #ffe8e6;
    border-color: #db2828;
    color: #db2828;
}

.ui.action.input.error:not([class*="left action"])>.button:last-child {
    border: #db2828 solid 1px;
}