.container {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

.ui.dropdown .menu>.item>.icon {
    margin-right: 0;
}

.ui.action.input.error input {
    background-color: #ffe8e6;
    border-color: #db2828;
    color: #db2828;
}

.ui.action.input.error:not([class*="left action"])>.button:last-child {
    border: #db2828 solid 1px;
}

.ui.modal>.close {
    top: 0px;
    right: 0;
    color: black;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0;
    width: 12px;
}

.ui.button.user-filter {
    border-right: thin solid rgba(34,36,38,.15);
}

.ui.button.user-filter:last-child {
    border-right: none;
}