body {
    overflow-y: scroll;
}

.center.menu {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ui.category.search.item {
    width: 450px;
}

.container {
    margin: 25px 60px;
}

.ui.buttons.filterButtonsContainer {
    margin-right: 10px;
}

.ui.dropdown.button {
    margin-left: 0px;
}

.ui.button.user-filter {
    border-right: thin solid rgba(34,36,38,.15);
}

.ui.button.user-filter:last-child {
    border-right: none;
}

#filterby-row {
    margin-left: 20px;
    margin-right: 20px;
}

.ui.event-div {
    display: inline-block;
    margin: 20px !important;
    cursor: pointer;
}

.ui.event-div:hover {
    background-color: #e9e9e9;
}

.event-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.event-name {
    font-size: 1.5em;
    line-height: 57px;
    font-weight: 700;
}

.event-properties {
    float: right;
}

.filter-by {
    margin-right: 10px;
}

.caret-container .caret {
    font-size: 24px;
}
.sort-container {
    display: inline-block;
    margin-left: 30px;
}
.ui.dropdown.button {
    margin-left: 10px;
    width: 200px;
}

.ui.dropdown>.dropdown.icon, .ui.dropdown>.caret.icon {
    position: absolute;
    right: 18px;
    line-height: 1;
    width: auto;
    font-size: .85714286em;
    margin: 0 0 0 1em !important;
}

.ui.dropdown .menu>.item>.icon, .ui.dropdown>.text>.icon {
    margin-right: 0;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0;
    width: 12px;
}

.ui.button {
    padding: .78571429em 1em;
}

.caret-container {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.caret-container .caret {
    color: #ddd;
}

.caret-container .caret.active {
    color: black;
}

/* MODAL STUFF */

.ui.modal {
    padding: 30px;
}

.modal-image {
    width: 150px;
    height: 150px;
    float: left;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    margin-bottom: 30px;
}

.modal-name {
    font-size: 34px;
    margin-bottom: 10px;
}

.modal-wing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-property {
    line-height: 1.5em;
}

.modal-description-container {
    clear: both;
}

.modal-description-container {
    margin-bottom: 30px;
}

.modal-description-title, .modal-comments-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-comments-box {
    margin-bottom: 15px;
}

.modal-comments-text {
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 7px;
}

.ui.modal>.close {
    top: 0px;
    right: 0;
    color: black;
}

.property-label {
    width: 85px;
    display: inline-block;
}

.ui.warning.message.verify {
    position: absolute;
    top: 0;
    right: 40px;
    width: 190px;
}