.center.menu {
    margin-left: auto !important;
}

.button.ui.user-filter.activee {
    background-color: green;
}

.container {
    margin: 25px 60px;
}

#filterby-row {
    margin-left: 20px;
    margin-right: 20px;
}

.ui.event-div {
    display: inline-block;
    margin: 20px !important;
    cursor: pointer;
}

.event-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.event-name {
    font-size: 1.5em;
    line-height: 57px;
    font-weight: 700;
}

.event-properties {
    float: right;
}

.filter-by {
    margin-right: 10px;
}

.ui.dropdown {
    width: 200px;
}

.ui.dropdown:last-of-type {
    float: right;
}

.ui.dropdown>.dropdown.icon, .ui.dropdown>.caret.icon {
    position: absolute;
    right: 18px;
    line-height: 1;
    width: auto;
    font-size: .85714286em;
    margin: 0 0 0 1em !important;
}

.ui.dropdown .menu>.item>.icon, .ui.dropdown>.text>.icon {
    margin-right: 0;
}

.caret-container {
    display: inline-block;
    position: absolute;
    right: 10px;
}

.caret-container .caret {
    color: #ddd;
}

.caret-container .caret.active {
    color: black;
}

/* MODAL STUFF */

.ui.modal {
    padding: 30px;
}

.modal-image {
    width: 150px;
    height: 150px;
    float: left;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    margin-bottom: 30px;
}

.modal-name {
    font-size: 34px;
    margin-bottom: 10px;
}

.modal-wing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-property {
    line-height: 1.5em;
}

.modal-description-container {
    clear: both;
}

.modal-description-container {
    margin-bottom: 30px;
}

.modal-description-title, .modal-comments-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-comments-box {
    margin-bottom: 15px;
}

.modal-comments-text {
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 7px;
}