body, html {
    margin: 0;
}

.intro {
    text-align: center;
    padding: 70px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container {
    margin-bottom: 70px;
}

h1 {
    font-size: 80px;
    margin-bottom: 50px;
}

.buttons {
    display: inline-block;
    line-height: 100px;
}

button {
    width: 200px;
}

.button-heading {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

.ui.main-button {
    height: 100px;
    line-height: 1em;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    font-weight: 300;
}

.or {
    vertical-align: middle;
    font-size: 20px;
    margin: 0 20px;
}

.about {
    padding: 70px 70px;
    background-color: #767676;
    color: white;
    font-size: 18px;
}

.ideas {
    display: flex;
    margin-top: 50px;
}

.idea-container {
    padding: 40px;
    text-align: center;
}

.idea-container .icon {
    font-size: 70px;
}

p.idea {
    font-size: 21px;
}